<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.group_w01_07_3">
    <!-- get location permission at runtime -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".features.history.FullScreenImageUtil" >
        </activity>
        <activity android:name=".features.onboarding.OnBoardingActivity" />
        <activity android:name=".LaunchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".features.discover.DiscoverCapsule" />
        <activity android:name=".features.discover.Display" />
        <activity android:name=".features.create.CreateCapsule" />
        <activity android:name=".features.history.OpenedCapsuleHistory" />
        <activity android:name=".features.history.DetailedCapsuleHistoryItem" />
        <activity
            android:name=".features.account.EditProfile"
            android:launchMode="singleTask" />
        <activity android:name=".features.account.ChangePassword" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".SignIn"
            android:launchMode="singleInstance" />
        <activity android:name=".MainActivity" >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.group_w01_07_3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>